@import '../../../assets/styles/includes/vars';
@import '../../../assets/styles/includes/mixins';

.tourney {
    padding: 100px 150px;
    display: flex;
    width: 100%;

    @media (max-width: 1300px) {
        padding: 50px;
    }

    @media (max-width: 1024px) {
        flex-direction: column;
    }
}
