@import '/src/assets/styles/includes/vars';
@import '/src/assets/styles/includes/mixins';

.container {
    width: 100%;
}

.team {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    background-color: $bg;
}

.teamLoaderWrapper {
    @include centerFlex;
    width: 100%;
}

.teamContent {
    padding-bottom: 50px;
    display: flex;

    @media (max-width: 1024px) {
        padding: 15px;
    }

    @media (max-width: 768px) {
        flex-direction: column;
    }
}


.leftFram {
    position: relative;
    width: 40%;
    height: 371px;
    background: #2E2E2E;
    border-radius: 8px;
    margin-right: 7px;
    margin-top: 53px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    @media (max-width: 1024px) {
        flex-direction: column;
    }

    @media (max-width: 768px) {
        flex-direction: row;
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
    }
}

.rightFram {
    position: relative;
    width: 60%;
    height: 371px;
    background: #2E2E2E;
    border-radius: 8px;
    margin-left: 7px;
    margin-top: 53px;
    padding: 25px;

    @media (max-width: 768px) {
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
    }
}


.cercle {
    height: 114px;
    width: 114px;
    background: #575757;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    font-family: Montserrat;
    font-size: 33px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    @media (max-width: 768px) {
        height: 79px;
        width: 79px;
        font-size: 23px;
        font-weight: 400;
        line-height: 33px;
    }
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 22px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    @media (max-width: 1024px) {
        margin-top: 15px;
    }

}

.item {
    display: flex;
    padding: 10px 15px 10px 16px;
    gap: 8px;
    background: #575757;
    box-shadow: 0px 1.5px 5px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    margin-top: 16px;
    position: relative;
    justify-content: space-between;
    height: 64px;
}


.value {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13.33px;
    line-height: 16px;
    text-align: center;
    color: #FAFAFA;
    @media (max-width: 768px) {
        font-size: 16px;
    }
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.element {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13.33px;
    line-height: 16px;
    text-align: center;
    color: #FAFAFA;
    @media (max-width: 768px) {
        font-size: 16px;
    }
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-15%);
    transform: translateY(-15%);
}
