@import '../../../assets/styles/includes/vars';
@import '../../../assets/styles/includes/mixins';

.forgotForm {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    // height: 346px;
    width: 428px;
    border-radius: 8px;
    padding: 0px;
    @media (max-width: 500px) {
        padding-top: 70px;
        width: 100%;
        height: 100%;
        background: #2E2E2E;
        border-radius: 0px;
    }
}

.forgotFormTitle {
    padding: 20px;
    text-align: left;
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 19.2px;
    line-height: 24px;
    color: #DEDEDE;

    &::after {
        content: '';
        position: absolute;
        width: calc(100% - 40px);
        height: 1px;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        background-color: $btnRegisterBG;
    }
}

.forgotGeneralError {
    color: $secondary;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

.forgotGeneralInfo {
    @extend .forgotGeneralError;
    color: $primary;
    margin-bottom: 5px;
}

.forgotFormBtn {
    @include btn;
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    padding: 10px 15px;
    gap: 8px;
    box-shadow: 0px 1.5px 5px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    @media (max-width: 500px) {
        width: 99px;
        height: 36px;
    }
}

.forgotGoBack {
    font-size: 14px;
    text-decoration: underline;
}

.forgotInfoWrapper {
    text-align: center;
    margin-bottom: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    background-color: $blackLight;
    position: relative;
    height: $headerHeight;

    @media (max-width: 1024px) {
        padding: 10px 15px;
    }

    @media (max-width: 500px) {
        height: $headerMobileHeight;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 30;
    }
}

.headerBox {
    display: flex;
    align-items: center;
}

.headerLogo {
    @include centerFlex;
    margin-right: 40px;

    @media (max-width: 500px) {
        margin-right: 20px;
    }
}

.headerLogoImg {
    max-width: 75px;
    max-height: 47px;
}


.pageWrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $bg;

    @media (max-width: 500px) {
        padding-top: $headerMobileHeight;
    }
}

.pageWrapperLightBG {
    background-color: $authBG;

    @media (max-width: 500px) {
        padding-top: 0;
    }
}

.pageWrapperContent {
    flex-grow: 1;
    display: flex;
    background: #858585;

}

.forgotInput{
    background: #3B3B3B;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 1.5px 5px rgba(0, 0, 0, 0.07);
    color: #EBEBEB;
}

.forgotInputPwd{
    background: #3B3B3B;
    box-shadow: 0px 1.5px 5px rgba(0, 0, 0, 0.07);
    color: #EBEBEB;
}


.teamsPopupContent {
    padding: 20px;
    max-height: calc(100vh - 100px);
    
    @media (max-width: 500px) {
        padding: 15px;
    }
}
.forgotFormBtns{
    max-height: calc(100vh - 100px);
    display: flex;
    float: right;
    padding-right: 20px;
    margin-bottom: 20px;
    @media (max-width: 500px) {
        padding: 15px;
        position: fixed;
        bottom: 0;
        width: 100%;
        justify-content: end;
    }
}

.forgotFormHeader{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F5F5F5;
}

.forgotFormFooter{
    margin-top: 14px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #A3A3A3;
}

.active{
    background: #DF362A;
}