@import '/src/assets/styles/includes/vars';
@import '/src/assets/styles/includes/mixins';

.steps {
    padding-top: 100px;
    margin-right: 70px;
    flex-shrink: 0;

    @media (max-width: 1024px) {
        margin-right: 0;
        margin-bottom: 50px;
        padding: 0 20px 20px;
        display: flex;
        align-items: center;
        overflow-x: auto;
        overflow-y: visible;
        margin-left: -50px;
        width: calc(100% + 100px);
    }
}

.stepsItem {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;

    span {
        margin-right: 10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        @include centerFlex;
        font-size: 12px;
        border: 1px solid $primary;
    }

    svg {
        display: none;
    }

    & + & {
        margin-top: 40px;

        @media (max-width: 1024px) {
            margin-top: 0;
            margin-left: 50px;
        }
    }

    @media (max-width: 1024px) {
        white-space: nowrap;
    }

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.stepsItemActive {
    color: $secondary;
    font-weight: 600;

    span {
        color: $primary;
        background-color: $secondary;
        border-color: $secondary;
        font-weight: 400;
    }

    &::before {
        content: '';
        position: absolute;
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
        height: 50px;
        width: 3px;
        border-radius: 3px;
        background-color: $secondary;

        @media (max-width: 1024px) {
            left: 50%;
            transform: translateX(-50%);
            top: calc(100% + 10px);
            width: calc(100% + 30px);
            height: 3px;
        }
    }
}

.stepsItemDone {
    span {
        background-color: $primary;
        font-size: 0;
    }

    svg {
        display: block;
        width: 12px;
        height: 10px;
        fill: $menuBG;
    }
}
