@import '../../../assets/styles/includes/vars';
@import '../../../assets/styles/includes/mixins';

.loginForm {
    @include authForm;
}

.loginFormTitle {
    font-size: 19px;
    margin-bottom: 30px;
    text-align: center;
}

.loginGeneralError {
    color: $secondary;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

.loginFormBtn {
    @include btn;
    margin-top: 15px;
}

.loginForgotWrap {
    text-align: right;
    margin: 10px 0 30px;
}

.loginForgot {
    color: $forgotPass;
    text-decoration: underline;
    font-size: 14px;
    display: inline-block;
    user-select: none;

    &:hover {
        text-decoration: none;
    }
}

.loginSignUp {
    text-align: center;
}

.loginSignUpTitle {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
    user-select: none;
}

.loginSignUpLink {
    background-color: $btnRegisterBG;
    color: $primary;
    display: block;
    padding: 15px 20px;
    border-radius: 10px;
    transition: all .15s;

    &:hover {
        filter: brightness(.8);
    }
}

.activeBtn{
    pointer-events: none;
}