@import '/src/assets/styles/includes/vars';
@import '/src/assets/styles/includes/mixins';

.discoverContent {
    border-radius: 7px;
    overflow: hidden;
    background-color: $blackLight;
    overflow: initial;
}

.discoverTabsWrap {
    margin-bottom: 30px;
}

.discoverFilterWrap {
    @include centerFlex;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.discoverList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px 15px;
    padding: 0 40px 20px;

    @media (max-width: 768px) {
        padding: 0 15px 15px;
        grid-template-columns: 1fr 1fr;
    }
}
